* {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    padding: 0px;
}

h1 {
    color: rgb(243, 70, 18);
    text-align: center;
    margin-top: 5%;
    font-size: 50px;
}

.github {
    width: 50%;
    margin: 5% auto;
}

.github h2 {
    color: brown;
    margin: 10px 0px;
}

.github p {
    width: 100%;
    border: 1px solid rgb(239, 159, 29);
    border-radius: 10px;
    background-color: rgb(238, 228, 213);
    padding: 20px;
    text-align: justify;
    font-size: 20px;
    box-sizing: border-box;
    transition: 1s;
}

.github p:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

@media (max-width:1200px) {
    .github {
        width: 80%;
    }

    h1 {
        font-size: 30px;
    }
}